$colors:(
	);
$fonts:(
	font-family-oswald:'Oswald',
	font-family-lato:'Lato',
	);
@function getFont($key) {
    @return map-get($fonts, $key);
}
@function getColor($key) {
    @return map-get($colors, $key);
}