.container{
	max-width: 100%;
	margin: 0 auto;
	margin-top: 34px;
}
.banner{
	margin: 0 auto;
	position: relative;
	max-height: 220px;
	display: flex;
  justify-content: center;
}
.snowleft::before,
.snowleft::after,
.snowright::before,
.snowright::after {
	content: '';
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;

}
.snowleft{
	&::before{
		background-image: url(/img/big-snow-banner.svg);
		top: -30px;
	}

	&::after{

		background-image: url(/img/left-down-small-banner.svg);
		top: 85%;
	}
}
.snowright{
	&::before{
		background-image: url(/img/right-up-snow-banner.svg);
		top: -20px;
		left: 72%;
  	max-width: 152px;
	}
	&::after{
		content: '';
		background-image: url(/img/right-down-snow-banner.svg);
		top: 85%;
  	max-width: 204px; 
		left: 71%;
	}
}