*, *::before, *::after{
	box-sizing: inherit;
	box-sizing: border-box;
}
body{
	font-family: getFont('font-family-oswald') , sans-serif;
  font-size: 14px;
  font-weight: 500;
}

main{
	background-color: getColor(dark-blue-section);
	display: flex;
	justify-content: space-between;
}
article{
	background-color: getColor(dark-blue-article);
	max-width: 87px;
}
aside{
	width: 320px;
	height: 999px;
	background-color: getColor(dark-blue-article);
}