*, *::before, *::after{
	box-sizing: inherit;
	box-sizing: border-box;
}
body{
	font-family: getFont('font-family-oswald') , sans-serif;
  font-size: 14px;
  font-weight: 500;
	overflow-x: hidden;

	background-color: getColor(dark-blue-section);
}

header{
	position: relative;
	z-index: 2;
	height: 28px;
	background-color: getColor(dark-blue-article);
}

main{
	background-color: getColor(dark-blue-section);
	display: flex;
	justify-content: space-between;
	height: 982px;
}

section{
	position: relative;
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;
	justify-content: flex-start;
	margin-top: 115px;
	margin-left: 30px;
	// margin-right: 352px;

	// background-image: url('/img/homepage_bg.png');
	background-image: url('/img/homepage_bg_CropPurpureDown.png');
	background-size: cover;
	background-position: center;
	// background-attachment: fixed;
	z-index: 1;

}
article{
	display: block;
	background-color: getColor(dark-blue-article);
	max-width: 87px;
	flex-shrink: 0;
	
}
// aside{
// 	display:none;
// 	width: 320px;
// 	background-color: getColor(dark-blue-article);
// }